.nav {
  display: flex;
}
.name {
  width: 300px;
  margin-left: 1.5em;
  margin-top: 1em;
}

ul {
  margin-left: 67vw;
  font-family: "Lakki Reddy", cursive;
  list-style: none;
  flex-direction: row;
}

.navItem {
  margin-top: 0;
  padding-left: 1em;
}

a {
  color: black;
}
