.nav {
  min-height: 10vh;
  background-color: #d14a4a;
}

ul {
  display: flex;
  margin-left: 67vw;
  font-family: "Lakki Reddy", cursive;
  list-style: none;
}

.navItem {
  padding-left: 1em;
}

a {
  color: black;
}
